.handle-support-container {
    position: relative;
    // box-shadow: 0 4px 6px rgba(3, 3, 3, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    // border-radius: 0 8px 8px 0;
    padding: 0 10px;
    background-color: #fff;

    .header-it {
        text-align: center;
        padding: 10px 0;
        color: red;
    }

    .table {
        .input-description {
            border: inherit;
            background-color: inherit;
            /* Kế thừa màu nền từ thẻ cha */
            outline: none;
            padding: 5px 0;
            width: 100%;
            /* Đảm bảo ô nhập liệu phủ kín thẻ td */
        }

        .icon-handle-container {
            display: flex;
            gap: 10px;
            justify-content: left;
            padding-left: 20px;

            .icon-handle,
            .icon-save {
                color: rgb(99, 92, 87);
                font-size: 18px;

                &:hover {
                    cursor: pointer;
                    opacity: 70%;

                }

                &.icon-close {
                    color: red;
                }
            }

            .icon-save {
                color: orange;
            }

            .icon-complete {
                color: rgb(36, 177, 36);

                &:hover {
                    cursor: pointer;
                    opacity: 70%;
                }
            }
        }

        .select-container {
            position: relative;
            min-width: 180px;

            .is-select {
                position: absolute;
                min-width: 150px;
                text-align: start;
                top: 2px;
                left: 0;
                bottom: 0;
                right: 0;
                height: 100%;
                max-width: 180px;
                min-width: 150px;
            }

            .is-select__control {
                background-color: inherit;
                /* Kế thừa màu nền từ thẻ td */
                border: none;
                /* Loại bỏ đường viền */
                box-shadow: none;
                /* Loại bỏ hiệu ứng shadow */
                min-height: unset;
                /* Đảm bảo chiều cao phù hợp */
                cursor: pointer;
            }

            .is-select__menu {
                background-color: #ffffff;
                /* Màu nền menu */
                z-index: 1000;
                /* Đảm bảo menu không bị che */
            }

            .is-select__option {
                background-color: #ffffff;
                /* Màu nền mặc định */
                color: #333;
                /* Màu chữ */
                cursor: pointer;
            }

            .is-select__option--is-focused {
                background-color: #e6e6e6;
                /* Màu nền khi hover */
            }

            .is-select__single-value {
                color: inherit;
                /* Đồng bộ màu chữ với thẻ td */
            }
        }
    }

    .view {
        position: absolute;
        right: 20px;
        bottom: 20px;
        padding: 4px 20px;
        box-shadow: none;
        /* Loại bỏ hiệu ứng bóng mặc định của Bootstrap */
    }

    .paginate {
        // display: inline;
        // position: absolute;
        // left: 80px;
        // bottom: 0;
        // padding: 4px 20px;
        // box-shadow: none;
        /* Loại bỏ hiệu ứng bóng mặc định của Bootstrap */
    }

    .active-footer {
        display: flex;
        justify-content: space-between;
    }
}






//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////






.handle-support-container-active {
    position: relative;
    padding: 0 50px;
    height: 92vh;
    // box-shadow: 0 4px 6px rgba(3, 3, 3, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    // border-radius: 8px;

    .header-it {
        border-radius: 10px 10px 0 0;
        margin-top: 10px;
        text-align: center;
        padding: 10px 0;
        color: #fff;
        background-color: rgb(67, 163, 252);
        width: 100%;

    }

    .table {
        .input-description {
            border: inherit;
            background-color: inherit;
            /* Kế thừa màu nền từ thẻ cha */
            outline: none;
            padding: 5px 0;
            width: 100%;
            /* Đảm bảo ô nhập liệu phủ kín thẻ td */
        }

        .icon-handle-container {
            display: flex;
            gap: 10px;
            justify-content: left;
            padding-left: 20px;

            .icon-handle,
            .icon-save {
                color: rgb(99, 92, 87);
                font-size: 18px;

                &:hover {
                    cursor: pointer;
                    opacity: 70%;

                }

                &.icon-close {
                    color: red;
                }
            }

            .icon-save {
                color: orange;
            }

            .icon-complete {
                color: rgb(36, 177, 36);

                &:hover {
                    cursor: pointer;
                    opacity: 70%;
                }
            }
        }

        .select-container {
            position: relative;
            min-width: 180px;

            .is-select {
                position: absolute;
                min-width: 150px;
                text-align: start;
                top: 2px;
                left: 0;
                bottom: 0;
                right: 0;
                height: 100%;
                max-width: 180px;
                min-width: 150px;
            }

            .is-select__control {
                background-color: inherit;
                /* Kế thừa màu nền từ thẻ td */
                border: none;
                /* Loại bỏ đường viền */
                box-shadow: none;
                /* Loại bỏ hiệu ứng shadow */
                min-height: unset;
                /* Đảm bảo chiều cao phù hợp */
                cursor: pointer;
            }

            .is-select__menu {
                background-color: #ffffff;
                /* Màu nền menu */
                z-index: 1000;
                /* Đảm bảo menu không bị che */
            }

            .is-select__option {
                background-color: #ffffff;
                /* Màu nền mặc định */
                color: #333;
                /* Màu chữ */
                cursor: pointer;
            }

            .is-select__option--is-focused {
                background-color: #e6e6e6;
                /* Màu nền khi hover */
            }

            .is-select__single-value {
                color: inherit;
                /* Đồng bộ màu chữ với thẻ td */
            }
        }
    }

    .view {
        position: absolute;
        right: 20px;
        bottom: 20px;
        padding: 4px 20px;
        box-shadow: none;
        /* Loại bỏ hiệu ứng bóng mặc định của Bootstrap */
    }

    .paginate {
        // display: inline;
        // position: absolute;
        // left: 80px;
        // bottom: 0;
        // padding: 4px 20px;
        // box-shadow: none;
        /* Loại bỏ hiệu ứng bóng mặc định của Bootstrap */
    }

    .active-footer {
        display: flex;
        justify-content: space-between;
    }
}