.it-create-support-container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    .it-support-header {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;

        .it-support-text {
            // padding-left: 10px;
            font-weight: 700;
        }

        .it-support-creat {
            // padding-right: 10px;
            padding: 0 20px !important;
        }
    }

    .it-support-body {
        .it-support-table {
            .it-support-icon-handle-container {
                display: flex;
                gap: 10px;
                font-size: 20px;
                cursor: pointer;



                .it-support-icon-edit {
                    color: rgb(107, 105, 105);

                    &:hover {
                        color: #0e0d0d;
                    }
                }

                .it-icon-close {
                    color: rgb(252, 67, 67);

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }

    .it-support-paginate {}
}