.personel-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Chiều cao tối thiểu bằng toàn màn hình */
}

.personel-body {
    flex: 1;
    /* Đẩy footer xuống */
    padding: 20px 50px;

    .select-day-night-container {
        display: flex;

        .select-day-night {
            display: flex;
            outline: none;
            border: none;
            padding: 0;
            width: 150px;
            margin-bottom: 15px;
        }

        // i {
        //     padding-left: 5px;
        //     font-size: 23px;
        // }

        .select-day-night-icon-edit {
            color: rgb(99, 92, 87);
        }

        .select-day-night-icon-save {
            color: orange;
        }

        .select-day-night-icon-close {
            color: red;
        }

        .select-day-night-icon-edit,
        .select-day-night-icon-save,
        .select-day-night-icon-close {
            padding-left: 5px;
            font-size: 23px;
            cursor: pointer;

            &:hover {
                opacity: 60%;
            }
        }
    }


    .table-responsive {
        overflow: visible !important;
        /* Cho phép phần tử con hiển thị vượt ra ngoài */
        position: relative;
        /* Đảm bảo vị trí phù hợp */

        td {
            vertical-align: middle; // căn giữa chiều cao của thẻ td

            .icon-group-handle {
                display: flex;
                gap: 10px;

                .icon-edit {
                    color: rgb(99, 92, 87);
                    cursor: pointer;
                    font-size: 20px;

                    &:hover {
                        opacity: 60%;
                    }

                }

                .icon-group-handle-close,
                .icon-group-handle-save,
                .icon-group-handle-trash {
                    cursor: pointer;
                    margin-top: 5px;

                    &:hover {
                        opacity: 60%;
                    }

                    i {
                        font-size: 20px;
                    }
                }

                .icon-group-handle-close {
                    color: red;
                }

                .icon-group-handle-save {
                    color: orange;
                }

                .icon-group-handle-trash {
                    color: red;
                }
            }
        }
    }


}

.personel-footer {
    height: 50px;
    // background-color: #f1f1f1;
    /* Màu nền cho dễ nhìn */
}