// .personel-container {
//     display: flex;
//     flex-direction: column;


//     .personel-header {}

//     .personel-body {
//         padding: 20px 50px;
//     }

//     .personel-footer {
//         height: 50px;

//     }
// }

.personel-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Chiều cao tối thiểu bằng toàn màn hình */
}

.personel-body {
    flex: 1;
    /* Đẩy footer xuống */
    padding: 20px 50px;

    .table-responsive {
        overflow: visible !important;
        /* Cho phép phần tử con hiển thị vượt ra ngoài */
        position: relative;
        /* Đảm bảo vị trí phù hợp */

        td {
            vertical-align: middle;

            .icon-edit {
                color: rgb(99, 92, 87);
                cursor: pointer;
                font-size: 20px;

            }

            // .icon-group-handle-trash {
            //     cursor: pointer;
            // }

            .icon-group-handle {
                display: flex;
                gap: 10px;
                padding-top: 2px;



                .icon-group-handle-close,
                .icon-group-handle-save {
                    cursor: pointer;

                    i {
                        font-size: 22px;
                    }
                }
            }
        }
    }


}

.personel-footer {
    height: 50px;
    // background-color: #f1f1f1;
    /* Màu nền cho dễ nhìn */
}