* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-bar-container {
    .nav-bar {
        .container-fluid {
            .logo-hpg {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .infor-user {
            display: flex;
            gap: 15px;

            .user-name,
            .logout,
            .img-user,
            .notification {
                color: #fff;

            }

            .notification {
                &:hover {
                    cursor: pointer;
                }
            }

            .img-user {}

            .logout {
                font-weight: 500;
                // color: red;
                border: 1px solid red;
                padding: 0 5px;
                background-color: red;
                border-radius: 2px;

                &:hover {
                    cursor: pointer;
                }
            }


        }
    }
}