* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-container {
    display: flex;
    flex-direction: column;
    /* Chiều cao toàn bộ màn hình */
    // height: 100vh;

    // justify-content: space-between;

    /* Chỉ cho phép cuộn theo chiều dọc khi cần thiết */
    // overflow-y: auto;

    .home-header {
        position: sticky;
    }

    .home-body {
        height: 100vh;
        /* Đây sẽ giúp HomeBody chiếm hết không gian còn lại */
        flex: 1;
        /* Cho phép cuộn nếu nội dung vượt quá */
        // overflow-y: auto;

        // overflow: auto;
    }

    .home-footer {}
}