* {
    box-sizing: border-box;
}

.home-footer {
    border-top: 1px solid rgb(156, 158, 156);
    height: 50px;
    text-align: center;
    align-content: center;

    .company-name {
        // padding-top: 10px;
    }
}